{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sign Up | CryptoPay</title>
  <link rel="stylesheet" href="{% static 'pages/main.css' %}">
  <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
</head>

<body style="background: darkorchid;" data-gr-c-s-loaded="true">
  <div class="login-page">
    <div class="form" style="width: 95%;">
      <h2>Welcome to CryptoPay</h2>
      <h5>Sign Up</h5>
      <p style="font-size: small;">
        Note: It is advised to enter the same email that you would choose to give the e-commerce stores in order for your transactions to synchronize into your phone automatically
      </p>
      <form class="login-form" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <input type="firstname" placeholder="First Name" name="firstname">
        <input type="lastname" placeholder="Last Name" name="lastname">
        <input type="username" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="email" placeholder="Email" name="email">

        <input type="radio" name="signtype" id="payer" value="payer"><label for="signtype">Sign up as a Payer</label><br><br>
        <input type="radio" name="signtype" id="seller" value="seller">
        <label for="signtype" style="margin-bottom: 6%;">Sign up as a Seller</label><br><br>
        <div id="seller_info">
          <label for="ardor_acc" style="margin-top: 35%;">Enter your Ardor account number<br>(Only for sellers)</label>
          <input type="text" name="ardor_acc" placeholder="ARDOR-XXXX-XXXX-XXXX-XXXXX" style="margin-top: 3%;">
        </div>
        <button style="background: darkorchid; margin-top: 6%;">Sign Up</button>
        <p class="message">Already have an account? <a href="{% url 'login' %}" style="color: darkorchid;">Log In</a></p>
      </form>
    </div>
  </div>

</body>

</html>
