{% extends 'dashboard/base.html' %}

{% block mainContent %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Transactions</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          {% if transactions|length != 0 %}
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>Date &amp; Time</th>
                <th>Checkout Code</th>
                <th>Customer Email</th>
                <th>API Key</th>
                <th>Status</th>
                <th class="text-right">Amount</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions %}
              <tr>
                <td>
                  {{ transaction.datetime }}
                </td>
                <td>
                  {{ transaction.checkout_code }}
                </td>
                <td>
                  {{ transaction.customer.email }}
                </td>
                <td>
                  {{ transaction.apikey.name }}
                </td>

                {% if transaction.completed %}
                <td style="color: green;">
                  Completed
                </td>
                {% else %}
                <td style="color: darkorange;">
                  Pending
                </td>
                {% endif %}

                <td class="text-right">
                  {% if transaction.chain == 1 %}
                  ARDR
                  {% else %}
                  IGNIS
                  {% endif %}
                  {{ transaction.amount }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>
            It looks like you don't have any transactions yet
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
